%addres
  %dl.row
    %dt.col-sm-3 City
    %dd.col-sm-9= location_details['name']

    %dt.col-sm-3 Region
    %dd.col-sm-9= location_details['region']

    %dt.col-sm-3 Country
    %dd.col-sm-9= location_details['country']

    %dt.col-sm-3 Time
    %dd.col-sm-9= location_details['localtime']

    %dt.col-sm-3 Time Zone
    %dd.col-sm-9= location_details['tz_id']
